@model GMS.Data.Models.AppUser


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

        <div class="container">
                
            <div>
                <h2>User</h2>
            <hr />
                <dl class="dl-horizontal">
             
        <dt>
            <font size="3">@Html.DisplayNameFor(model => model.FirstName)</font>
        </dt>
        <dd>
            <font size="3">@Html.DisplayFor(model => model.FirstName)</font>
        </dd>
        <dt>
            <font size="3">@Html.DisplayNameFor(model => model.LastName)</font>
        </dt>
        <dd>
            <font size="3">@Html.DisplayFor(model => model.LastName)</font>
        </dd>
        <dt>
            <font size="3">@Html.DisplayNameFor(model => model.UserName)</font>
        </dt>
        <dd>
            <font size="3">@Html.DisplayFor(model => model.UserName)</font>
        </dd>
        <dt>
            <font size="3">@Html.DisplayNameFor(model => model.Email)</font>
        </dt>
        <dd>
            <font size="3">@Html.DisplayFor(model => model.Email)</font>
        </dd> 
                       
    </dl>
</div>
            </div>
           
<div>
    @Html.ActionLink("Edit", "Edit", "Account", new { id = Model.Id, @returnUrl = Url.Action(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString()) })    
</div>
</body>
</html>
