@model IEnumerable<GMS.ASPNet.Core.Models.AccountViewModels.UserViewModel>

@{
    ViewData["Title"] = "View Users";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.IsTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.IsAdmin)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(mItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.IsTeacher)
            </td>
            <td>
                @Html.DisplayFor(mItem => item.IsAdmin)
            </td>
            <td>
                <a asp-action="EditUser" asp-route-id="@item.Id" asp-route-returnUrl="@ViewData["returnUrl"]">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>